{% load static %}


<!-- jquery -->
<script src="{% static 'plugins/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- Slick Slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'plugins/slick/slick-animation.min.js' %}"></script>
<!-- FancyBox -->
<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}" defer></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="{% static 'plugins/google-map/gmap.js' %}" defer></script>


<!-- jquery-ui -->
<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}" defer></script>
<!-- timePicker -->
<script src="{% static 'plugins/timePicker/timePicker.js' %}" defer></script>

<!-- script js -->
<script src="{% static 'js/script.js' %}"></script>